{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="p-3">
  <div class="container">
    <div class="row mt-3">
      <div class="col mx-auto mb-3">
        <h2>My Petitions</h2>
        <hr />
        <p class="card-text">
          <a href="{% url 'petitions.create' %}" class="btn bg-dark text-white">Create New Petition</a>
          <a href="{% url 'petitions.index' %}" class="btn btn-outline-dark">View All Petitions</a>
        </p>
      </div>
    </div>
    
    {% if petitions %}
    <div class="row">
      {% for petition in petitions %}
      <div class="col-md-6 col-lg-4 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">{{ petition.movie_title }} ({{ petition.year }})</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ petition.title }}</h6>
            <p class="card-text">{{ petition.description|truncatewords:20 }}</p>
            {% if petition.genre %}
              <span class="badge bg-secondary">{{ petition.genre }}</span>
            {% endif %}
            <div class="mt-3">
              <div class="d-flex justify-content-between align-items-center">
                <div>
                  <small class="text-success">
                    <i class="fas fa-thumbs-up"></i> {{ petition.yes_votes }} Yes
                  </small>
                  <small class="text-muted ms-2">
                    <i class="fas fa-users"></i> {{ petition.total_votes }} Total
                  </small>
                </div>
                <small class="text-muted">
                  {{ petition.created_at|date:"M d" }}
                </small>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <a href="{% url 'petitions.detail' petition.id %}" class="btn bg-dark text-white w-100">
              View & Manage
            </a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    {% else %}
    <div class="row">
      <div class="col-12 text-center">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">No Petitions Created</h5>
            <p class="card-text">You haven't created any petitions yet. Start by creating your first petition!</p>
            <a href="{% url 'petitions.create' %}" class="btn bg-dark text-white">Create First Petition</a>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
  </div>
</div>
{% endblock content %}
